body {
  background-color: grey;
  border-radius: 20px;
}

.header {
  display: flex;
  position: relative;
  justify-content:center;
  height: 80px;
  background-color: black;
  margin: -8px;
  padding: 5px;
  
}
.header h1{
  color: white;
}

#time {
  text-align: center;
  margin: 30px;
  font-weight: bold;
  color: inherit;
  font-size: 15vw;
}

#btn-container {
  display: flex;
  justify-content: space-evenly;
}



#task-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.task-input {
  outline: none;
  border: none;
  border-radius: 100px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  width: 500px;
  font-size: 25px;
}

.task-delete {
  outline: none;
  border: none;
  height: 40px;
  width: 30px;
  border-radius: 100px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-weight: 700;
  font-size: 100%;
}

.task-delete:hover {
  transform: translateY(-5px);
}

.task-delete:active {
  transform: translateY(5px);
}


.task-delete {
  font-weight: 700;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    /* #2c3e50 0,
    #000000 100%  */ #8c8c8c 0,
    #000000 100%
  );
  border: none;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: Helvetica, Inter, -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}


button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(
    100% 100% at 100% 0,
    /* #2c3e50 0,
    #000000 100%  */ #8c8c8c 0,
    #000000 100%
  );
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor:default;
  display: inline-flex;
  font-family: Helvetica, Inter, -apple-system, BlinkMacSystemFont, "Roboto",
    sans-serif;
  /* height: 48px; */
  height: 36px;
  /* width: 100%; */
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

button:hover {
  transform: translateY(-5px);
}

button:active {
  transform: translateY(5px);
}


.frost {
  background: radial-gradient(
      circle at left,
      #60bdff 0%,
      #7cbeff 50%,
      #ffffff 100%
  );
  color: black;
}
.night {
  background: radial-gradient(
      circle at left,
      #0095ff 0%,
      #001211 50%,
      #000000 100%
  );
  color: white;
}
.ruby {
  background: radial-gradient(
      circle at left,
      #ff1313 0%,
      #ffd3d3 50%,
      #ff0000 100%
  );
  color: black;
}

.ruby {
  background-color: crimson;
  color: rgb(92, 0, 0);
}
.orange {
  background-color: orange;
  color: orangered;
}
.lemon {
  background-color: #f4f85f;
  color: orangered;
}
.grass {
  background-color: green;
  color: greenyellow;
}
.winter {
  background-color: lightblue;
  color: blue;
}
.royal {
  background-color: indigo;
  color: plum;
}
.christmas {
  background-color: lightgreen;
  color: red;
}
.industrial {
  background: linear-gradient(
      110deg, 
      #aaaaaa 60%, 
      #bbbbbb 60%);
  color: #eedb34;
}
.golden {
  background: radial-gradient(
      circle at left,
      #ffd700 0%,
      #ffffff 50%,
      #ffd700 100%
  );
  color: black;
}
#theme{
  margin-bottom: 15px;
}