<head>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" href="/sources/vortice.svg"><link rel="stylesheet" type="text/css" href="/play/nav.css">
    <title>Contact - Vortice</title> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<div class="topnav">
    <a class="active" href="/">HOME</a>
    <a href="/play/">GAMES</a>
    <a href="/sources/">SOURCES</a>
    <a href="/tech/">TECH</a>
  </div>
<h1 style="font-size: 4em;">Contact Us</h1>
<h1><a href="mailto:legal@vortice.app">Legal: legal@vortice.app</a></h1>
<h1><a href="mailto:contact@vortice.app">General: contact@vortice.app</a></h1>
<h1><a href="mailto:tech@vortice.app">Tech: tech@vortice.app</a></h1>