<head>
<link rel="icon" type="image/x-icon" href="/sources/vortice.svg"><link rel="stylesheet" type="text/css" href="/play/nav.css">
<title>Vortice Games</title> 
<link rel="stylesheet" href="/style.css">
  </head>
  <div class="topnav">
    <a href="/">HOME</a>
    <a href="/play/">GAMES</a>
    <a href="/sources/">SOURCES</a>
    <a href="/tech/">TECH</a>
  </div>
  <h1>Thank You so much to:</h1>
<a href="https://github.com/leereilly/games"><p>Leerily</p></a> <p>for the list of games and Coil</p>
<a href="https://github.com/dmcinnes/"><p>Doug McInnes</p></a><p>for the game Asteroids</p>
<a href="https://github.com/Gamegur-us"><p>Gamegur.us</p></a><p>for Circus Charlie</p>
<a href="https://github.com/lutzroeder"><p>Lutz Roeder</p></a><p>for Digger</p>
<a href="https://github.com/MattSurabian"><p>Mattew Surabian</p></a><p>for DuckHunt</p>
<a href="https://github.com/robertkleffner"><p>Robert Kleffner</p></a><p>for Infinite Mario</p>
<a href="https://github.com/BKcore"><p>Thibaut Despoulain</p></a><p>for HexGL</p>
<a href="https://freekong.org/"><p>freekong.org</p></a><p>for Kong</p>
<a href="https://github.com/WilliamDASILVA/"><p>William DA SILVA</p></a><p>for My Name is Red</p>
<a href="https://github.com/daleharvey"><p>Dale Harvey</p></a> <p>for Pacman</p>
